#canvases {
	margin-left:auto;
	margin-right:auto;
}

canvas {
	border:2px solid black;
}

#jsonArea {
	display:none;
}

#line {
	position: absolute;
	z-index: 0;
	background-color: #EAEFF2;
}

#bg {
	position: absolute;
	z-index: 1;
}

#fg {
	position:absolute;
	z-index:2;
}

#logout {
	float:right;
	clear:right;
	font-family: Tahoma;
}

#logout input, #submit {
	border:2px solid black;
	width:60px;
	height:60px;
	background-color: #EAEFF2;
	border-radius:50%;
	box-shadow:0 6px #4D4E53;
	margin-bottom:10px;
}

input[type='submit'], #submit {
	font-family: Tahoma;
}

#logout input[type='submit']:hover, #submit:hover {
	background-color: #4D4E53;
	color: white;
}

#prompt {
	float:right;
	text-align:center;
}
